*{
margin: 0;
padding: 0;
border: none;
text-decoration: none;
box-sizing: border-box;
}

html{
--black: #0D114F;
--white: #FAFAFA;
--red: #E83F5B;
--light-blue: #E0ECFF;
--blue: #3485FF;
--background: #F6FAFF;
--overlay: #040911;
--icons-details: #A5B0C1;
--grey-dark: #4D5E77;
--grey-blue: #A1B2CD;
--grey-light: #E5EAF1;
/*rem  1 rem = 16px(user Agent do navegador) = 100% é o user agent,62,5 = 10px*/
font-size: 62.5%;
}
body{
height: 100vh; 
display: flex;
background: var(--background);
}
body,button,input,textarea{
/*clamp intervalo de tamanho,no menor tamanho vai ser 14,padrão da 1.6rem,se a tela cresce demais ela vai chegar no 2vw*/
font-size: clamp(14px, 1.6rem, 2vw);
font-family: 'Open Sans', sans-serif;
/*font-family: 'Poppins', sans-serif;*/
}
.content{
width: 100%;
margin: 0 auto;
}
.sr-only{
/*display none deleta a a label*/
position: absolute; /*fica por cima de tudo*/
height: 1px;
width: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip-path: rect(0,0,0,0);
white-space: nowrap;
border-width: 0;
}
/*INPUT*/
input, button, .button{
height: 5rem;
border-radius: .8rem;
}
button, .button{
font-weight: 500;
font-family: "Poppins";
line-height: 0; /*tamanho q acompanha o texto */
display: flex;
align-items: center	;
justify-content: center;
background-color: var(--blue);
transition: filter .2s;
color: var(--white);
cursor: pointer;
}
button:hover, .button:hover{
filter: brightness(1.2);
}
button > img  .button > img{
margin-right: 1rem;
width: 3rem;
}
button.outlined,.button.outlined{
background: var(--white);
color: var(--blue);	
border: .2rem solid var(--blue);
}
.content header{
width: 80%;
margin: 3.5rem auto;
}
.contentheader img {
width: 16.7rem;
}